<button
  class="uk-button uk-button-primary uk-margin-small-right"
  type="button"
  uk-toggle="target: #modal-create"
>
  Nueva película
</button>
<div id="modal-create" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <button
      id="auto-click"
      class="uk-modal-close-default"
      type="button"
      uk-close
    ></button>
    <h2 class="uk-modal-title uk-text-center">Nueva película</h2>
    <form
      class="uk-form-horizontal"
      #form="ngForm"
      (ngSubmit)="updateForm(form)"
    >
      <div class="uk-margin">
        <label class="uk-form-label" for="">Nombre de la película</label>
        <div class="uk-form-controls">
          <input
            class="uk-input"
            type="text"
            name="name"
            required
            minlength="5"
            [class.is-invalid]="name.invalid && name.touched"
            #name="ngModel"
            [(ngModel)]="movie.name"
          />
          <small class="uk-alert-warning" *ngIf="name.invalid && name.touched"
            >Nombre obligatorio</small
          >
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="">Fecha de publicación</label>
        <div class="uk-form-controls">
          <input
            class="uk-input"
            type="date"
            name="date"
            required
            #date="ngModel"
            [class.is-invalid]="date.invalid && date.touched"
            [(ngModel)]="movie.publishedDate"
          />
          <small class="uk-alert-warning" *ngIf="date.invalid && date.touched"
            >Fecha obligatoria</small
          >
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="">Estado</label>
        <div class="uk-form-controls">
          <select
            name="active"
            id=""
            class="uk-select"
            [(ngModel)]="movie.active"
            required
            #active="ngModel"
            [class.is-invalid]="active.invalid && active.touched"
          >
            <option disabled selected>Seleccione el estado</option>
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
          </select>
          <small
            class="uk-alert-warning"
            *ngIf="active.invalid && active.touched"
            >Estado obligatoria</small
          >
        </div>
      </div>
      <div class="uk-margin uk-text-center">
        <input
          type="submit"
          value="Guardar"
          class="uk-button-primary uk-button"
        />
      </div>
    </form>
  </div>
</div>
