<table class="uk-table uk-table-divider">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>F. publicación</th>
      <th>Estado</th>
      <th class="uk-text-center">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="5" *ngIf="!moviesLoaded">
        <div class="uk-alert-info uk-width-1-1 uk-text-center" uk-alert>
          Cargando películas.
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="5" *ngIf="movies.length == 0 && moviesLoaded">
        <div class="uk-alert-danger uk-width-1-1 uk-text-center" uk-alert>
          No hay películas creadas aún.
        </div>
      </td>
    </tr>
    <tr *ngFor="let movie of movies; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ movie.name }}</td>
      <td>{{ movie.publishedDate | date: "dd/MM/yyyy" }}</td>
      <td>
        <span *ngIf="movie.active == 'true'" class="uk-badge active"
          >Activo</span
        >
        <span *ngIf="movie.active == 'false'" class="uk-badge inactive"
          >Inactivo</span
        >
      </td>
      <td class="uk-text-center">
        <app-edit-product
          [movie]="movieSelected"
          (click)="getMovie(movie)"
        ></app-edit-product>
        <button
          uk-icon="icon: trash"
          style="color: #e74c3c;"
          (click)="deleteMovie(movie, i)"
        ></button>
      </td>
    </tr>
  </tbody>
</table>
