<table class="uk-table uk-table-divider">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>F. publicación</th>
      <th>Estado</th>
      <th class="uk-text-center">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td
        colspan="5"
        *ngIf="!moviesLoaded"
        class="uk-alert-info uk-width-1-1 uk-text-center"
        uk-alert
      >
        <p>
          Cargando películas.
        </p>
      </td>
    </tr>
    <tr>
      <td
        colspan="5"
        *ngIf="movies.length == 0 && moviesLoaded"
        class="uk-alert-danger uk-width-1-1 uk-text-center"
        uk-alert
      >
        <p>
          No hay películas creadas aún.
        </p>
      </td>
    </tr>
    <tr *ngFor="let movie of movies; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ movie.name }}</td>
      <td>{{ movie.publishedDate }}</td>
      <td>
        <span *ngIf="movie.active == 'true'" class="uk-badge active"
          >Activo</span
        >
        <span *ngIf="movie.active == 'false'" class="uk-badge inactive"
          >Inactivo</span
        >
      </td>
      <td class="uk-text-center">
        <button
          uk-icon="icon: pencil"
          style="color: #1f87f0;"
          class="uk-margin-medium-right edit"
          uk-toggle="target: #modal-edit"
          (click)="getMovie(movie)"
        ></button>
        <div id="modal-edit" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
            <button
              class="uk-modal-close-default"
              type="button"
              uk-close
            ></button>
            <h2 class="uk-modal-title uk-text-center">Editar película</h2>
            <form
              class="uk-form-horizontal"
              #form="ngForm"
              (ngSubmit)="updateForm(form)"
              *ngIf="movieSelected"
            >
              <div class="uk-margin">
                <label class="uk-form-label" for=""
                  >Nombre de la película</label
                >
                <div class="uk-form-controls">
                  <input
                    class="uk-input"
                    type="text"
                    name="name"
                    required
                    [(ngModel)]="movieSelected.name"
                  />
                </div>
              </div>
              <div class="uk-margin">
                <label class="uk-form-label" for="">Fecha de publicación</label>
                <div class="uk-form-controls">
                  <input
                    class="uk-input"
                    type="date"
                    name="date"
                    required
                    [(ngModel)]="movieSelected.publishedDate"
                  />
                </div>
              </div>
              <div class="uk-margin">
                <label class="uk-form-label" for="">Estado</label>
                <div class="uk-form-controls">
                  <select
                    name="active"
                    id=""
                    class="uk-select"
                    [(ngModel)]="movieSelected.active"
                    required
                  >
                    <option disabled selected>Seleccione el estado</option>
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                  </select>
                </div>
              </div>
              <div class="uk-margin uk-text-center">
                <input
                  type="submit"
                  value="Actualizar"
                  class="uk-button-primary uk-button"
                />
              </div>
            </form>
          </div>
        </div>
        <button
          uk-icon="icon: trash"
          style="color: #e74c3c;"
          (click)="deleteMovie(movie, i)"
        ></button>
      </td>
    </tr>
  </tbody>
</table>
